<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><img src="/assets/login.png" alt="icon" width="20%" /></h1>
            <p>Login to an existing account or register</p>
            <div style="display: flex; justify-content: space-evenly;align-items: center;">
                <a href="/auth/login" class="btn" style="background-color: #aef359;color: black;border: none;width: 40%;">Login</a>
                <a></a>
                <a href="/auth/register" class="btn" style="background-color: #aef359;color: black;border: none;width: 40%;">Register</a>
            </div>
        </div>
    </div>
</div>